body {
  overflow-x: hidden;
}

.menudiv {
  width: 30vmax;
  height: 30vmax;

  padding-top: 3em;
  margin: 0 auto;
}


.glyphicon {
    font-size: 3em;
}

.backButton {
  padding-top: 2em;
	height: 3em;

}

.menuitem {
	width: 15vmax;
	height: 15vmax;
}

.menuitemsmall {
	width: 5vmax;
	height: 5vmax;

	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}

.menuitemblock {
  padding-right: 0px;
  padding-left: 0px;
}

.blogImage {
  width: 50vmax;
  height: auto;
}

.menuoverlay {
	position: absolute;
  top:0;
  left:0;

	width: 15vmax;
	height: 15vmax;
}

.page {
  position: absolute;
  top: 8em;
  left: 0em;
  width: 100vw;
}

.pagetext {
	margin-top: 5em;
  text-align: center;
	font-family: 'Droid Sans';
  width: 70vw;
}

.blogtext {
	margin-top: 5em;
	font-family: 'Droid Sans';
}


.pageimage {
	width: 15vw;
	height: 15vw;
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
}

.contactForm {
  width: 70vmax;
}

.workPiece {
  width: 15vmax;
  height: 15vmax;

  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.workPiece:hover img {
    opacity: 0.7;
}

.workOverlay {
  background-color: #000000;

  position: absolute;
  top:0;

  width: 15vmax;
  height: 15vmax;

  display: inline-block;
  padding: 0;

  z-index: -1;

  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.workPieceName {
  text-align: center;
  padding-top: 4vmax;

  font-size: 3vw;

  color: #ffffff;

}

.workPieceImg {
  width: 15vmax;
  height: 15vmax;

  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.workPiecesList {
  width: 50vmax;
}

.workitem {
  width: 50vmax;
  min-height: 1000px;
  padding-top: 3em;
  margin: 0 auto;
}

@-webkit-keyframes rollleaveleft {
  from { -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
  to { -webkit-transform: translate3d(-500%, 0, 0) rotate(-360deg);
    opacity: 0;
  }
}

@keyframes rollleaveleft {
  from { transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
  to { transform: translate3d(-500%, 0, 0) rotate(-360deg);
    opacity: 0;
  }
}

.rollleaveleft {
  -webkit-animation-name: rollleaveleft;
  animation-name: rollleaveleft;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes rollleaveright {
  from { -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
  to { -webkit-transform: translate3d(500%, 0, 0) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rollleaveright {
  from { transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
  to { transform: translate3d(500%, 0, 0) rotate(360deg);
    opacity: 0;
  }
}

.rollleaveright {
  -webkit-animation-name: rollleaveright;
  animation-name: rollleaveright;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes rollenterleft {
  from { -webkit-transform: translate3d(-500%, 0, 0) rotate(0deg);
    opacity: 0;
  }
  to { -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes rollenterleft {
  from { transform: translate3d(-500%, 0, 0) rotate(0deg);
    opacity: 0;
  }
  to { transform: translate3d(0, 0, 0) rotate(360deg);
    opacity: 1;
  }
}

.rollenterleft {
  -webkit-animation-name: rollenterleft;
  animation-name: rollenterleft;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes rollenterright {
  from { -webkit-transform: translate3d(500%, 0, 0) rotate(0deg);
    opacity: 0;
  }
  to { -webkit-transform: translate3d(0, 0, 0) rotate(-360deg);
    opacity: 1;
  }
}

@keyframes rollenterright {
  from { transform: translate3d(500%, 0, 0) rotate(0deg);
    opacity: 0;
  }
  to { transform: translate3d(0, 0, 0) rotate(-360deg);
    opacity: 1;
  }
}

.rollenterright {
  -webkit-animation-name: rollenterright;
  animation-name: rollenterright;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInUp {
  animation-name: slideInUp;
  -webkit-animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

.slideOutDown {
  animation-name: slideOutDown;
  -webkit-animation-name: slideOutDown;
}
